//====================================================================================================
.footer {
  // .footer__container
  &__container {
    display: grid;
    grid-template-columns: auto 1fr;
    border-top: rem(1) solid #dedfe1;
    column-gap: rem(20);
    @include adaptiveValue('row-gap', 70, 30, 1);
    @include adaptiveValue('padding-top', 60, 30, 1);
    @include adaptiveValue('padding-bottom', 60, 30, 1);

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  // .footer__logo
  &__logo {
    font-size: rem(23);
    line-height: em(31, 23);
    font-weight: 800;
    color: inherit;
  }

  // .footer__menu
  &__menu {
    display: flex;
    justify-content: flex-end;
  }

  // .footer__copy
  &__copy {
    font-size: rem(12);
    line-height: em(16, 12);
    font-weight: 700;
    text-align: center;

    @media (min-width: $mobile) {
      grid-column: span 2;
    }
  }
}
.menu-footer {
  // .menu-footer__list
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include adaptiveValue('column-gap', 45, 20, 1);
    @include adaptiveValue('row-gap', 30, 20, 1);
  }

  // .menu-footer__item
  &__item {
  }

  // .menu-footer__link
  &__link {
    font-size: rem(13);
    line-height: em(17, 13);
    font-weight: 700;
    color: inherit;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//====================================================================================================
